#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

@font-face {
  font-family: Poppins-Regular;
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url(/assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(/assets/fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url(/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

.arrow {
  background-color: hsl(259, 100%, 65%);
  border-radius: 100px;
  padding: 15px;
  position: absolute;
  left: 90%;
  top: -10%;
  cursor: pointer;
}

body {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
}



.card {
  padding: 2em;
}

.display-section {
  position: relative;
}

.invalid {
  color: hsl(0, 100%, 67%);
}

.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 60%
}


.input>p {
  color: hsl(0, 100%, 67%);
  font-family: Poppins-Italic;
  margin: 0;
  margin-left: 1rem;
}

.input>input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  margin: 1rem;
  font-size: 32px;
  max-width: 30%;
}

.input>input.invalid {
  border-color: hsl(0, 100%, 67%);
}

.input>label {
  margin-left: 1rem;
  font-family: Poppins-Bold;
  letter-spacing: 0.2rem;
  color: hsl(0, 1%, 44%);
}

.input>label.invalid {
  margin-left: 1rem;
  font-family: Poppins-Bold;
  color: hsl(0, 100%, 67%);
}

.input-section {
  display: flex;
  align-items: flex-start;
  max-width: fit-content
}

li {
  color: hsl(0, 0%, 8%);
  font-family: Poppins-ExtraBoldItalic;
  font-size: 5rem;
}

.main {
  background-color: #ffff;
  padding: 30px;
  border-radius: 30px 30px 200px 30px;
  max-width: 60%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 1rem;
}